## Example: Reading from a SQLite database

Lets begin by creating a small SQLite local database file.

Run the _"Creating the SQLite database"_ cell to create a new SQLite3 database with the filename you choose. You can double-click it to see the source code if you want.

In [1]:
#@title Creating the SQLite database
import sqlite3

databse_file = "db/moon-phases.db" #@param {type:"string"}

with sqlite3.connect(databse_file) as db:
  cursor = db.cursor()

  # Create the moon_phases table.
  cursor.execute('''
    CREATE TABLE IF NOT EXISTS moon_phases (
      id INTEGER PRIMARY KEY,
      phase_emoji TEXT NOT NULL,
      peak_datetime DATETIME NOT NULL,
      phase TEXT NOT NULL)''')

  # Truncate the table if it's already populated.
  cursor.execute('DELETE FROM moon_phases')

  # Insert some sample data.
  insert_moon_phase = 'INSERT INTO moon_phases(phase_emoji, peak_datetime, phase) VALUES(?, ?, ?)'
  cursor.execute(insert_moon_phase, ('ðŸŒ•', '2017-12-03 15:47:00', 'Full Moon'))
  cursor.execute(insert_moon_phase, ('ðŸŒ—', '2017-12-10 07:51:00', 'Last Quarter'))
  cursor.execute(insert_moon_phase, ('ðŸŒ‘', '2017-12-18 06:30:00', 'New Moon'))
  cursor.execute(insert_moon_phase, ('ðŸŒ“', '2017-12-26 09:20:00', 'First Quarter'))
  cursor.execute(insert_moon_phase, ('ðŸŒ•', '2018-01-02 02:24:00', 'Full Moon'))
  cursor.execute(insert_moon_phase, ('ðŸŒ—', '2018-01-08 22:25:00', 'Last Quarter'))
  cursor.execute(insert_moon_phase, ('ðŸŒ‘', '2018-01-17 02:17:00', 'New Moon'))
  cursor.execute(insert_moon_phase, ('ðŸŒ“', '2018-01-24 22:20:00', 'First Quarter'))
  cursor.execute(insert_moon_phase, ('ðŸŒ•', '2018-01-31 13:27:00', 'Full Moon'))

  # Query for the data in the table to make sure it's populated.
  cursor.execute('SELECT * FROM moon_phases')
  for row in cursor.fetchall():
    print(row)

(1, 'ðŸŒ•', '2017-12-03 15:47:00', 'Full Moon')
(2, 'ðŸŒ—', '2017-12-10 07:51:00', 'Last Quarter')
(3, 'ðŸŒ‘', '2017-12-18 06:30:00', 'New Moon')
(4, 'ðŸŒ“', '2017-12-26 09:20:00', 'First Quarter')
(5, 'ðŸŒ•', '2018-01-02 02:24:00', 'Full Moon')
(6, 'ðŸŒ—', '2018-01-08 22:25:00', 'Last Quarter')
(7, 'ðŸŒ‘', '2018-01-17 02:17:00', 'New Moon')
(8, 'ðŸŒ“', '2018-01-24 22:20:00', 'First Quarter')
(9, 'ðŸŒ•', '2018-01-31 13:27:00', 'Full Moon')